name: RPM Install
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '12 3 4,18 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          - registry.fedoraproject.org/fedora:rawhide
          - registry.fedoraproject.org/fedora:latest
    container:
      image: ${{ matrix.container }}
    steps:

    - name: Install rpm-build and other build tools
      run: |
        sudo dnf -y install --setopt=install_weak_deps=False rpm-build rpmdevtools rpmautospec make git-core

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - run: git config --global --add safe.directory $(pwd)

    - name: rpmbuild
      run: |
        make -f .copr/Makefile srpm spec=fedora-minimal.spec
        rpm -Uvh ./fedora-minimal-*.src.rpm
        rpmbuild -ba $HOME/rpmbuild/SPECS/fedora-minimal-*.spec

    - name: clear path for fedora-minimal-conflicts-auth
      run: |
        rpm -e --nodeps sudo
        dnf remove -y authselect-libs

    - name: install
      run: |
        dnf install --setopt=tsflags=noscripts --no-gpgchecks -y $HOME/rpmbuild/RPMS/noarch/fedora-minimal*
